<div ng-if="simple.isShowTable()">
  <table class="table table-bordered">
      <caption>Selecci&oacute;n Argentina de Basquet </caption>
    <thead>
      <th>
        Nombre
      </th>
      <th>
        Apellido
      </th>
      <th>
        Altura
      </th>
    </thead>
    <tbody>
      <tr ng-repeat="jugador in simple.getTeam()">
      <td>
        {{jugador.nombre | uppercase}}
      </td>
      <td>
        {{jugador.apellido | uppercase}}
      </td>
      <td>
        {{jugador.altura | encentimetros}}
      </td>
    </tr>
    </tbody>
  </table>
</div>
