<div>
  <table class="table table-bordered">
      <caption>Lista de Items </caption>
    <thead>
      <th>
        Nombre
      </th>
      <th>
        Descripcion
      </th>
      <th>
        Cantidad
      </th>
      <th>
        Pago?
      </th>
      <th>
        Acciones
      </th>
    </thead>
    <tbody>
      <tr ng-repeat="itm in items() track by $index">
      <td>
        {{itm.nombre}}
      </td>
      <td>
        {{itm.descripcion}}
      </td>
      <td>
        {{itm.cantidad}}
      </td>
      <td>
        {{itm.estaPago}}
      </td>
      <td>
        <span class="glyphicon glyphicon-pencil"></span>
        <span ng-click="borrar($index)" class="glyphicon glyphicon-remove"></span>

      </td>
    </tr>
    </tbody>
  </table>
</div>
