
<html>
    <body ng-app="app" ng-controller="SimpleCtrl as simple">

        <encabezado></encabezado>

        <input type="text" ng-model="simple.texto">

        <h2>{{simple.texto}}</h2>

        <div ng-if="simple.texto == 'json'">
          <button ng-click="simple.getBasketballTeam()">Json del <strong>Equipo</strong></button>
          <pre>{{simple.getTeam() | json:4}}</pre>
        </div>

        <div ng-if="simple.texto == 'clima'">
          <button ng-click="simple.clima()">Json del <strong>Clima</strong></button>
          <pre>{{simple.getClimaJson() | json:4}}</pre>
        </div>


        <div show-if-angular word="simple.texto"></div>

        <show-if-tabla word="simple.texto"></<showIfTabla>

    </body>
    <script src="../libs/angular.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
</html>
